@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.column {
  float: left;
  width: 33%;
  padding: 0 0px;
  margin-bottom: 30px;
  padding-top: 50px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(134, 134, 134, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.cards {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  text-decoration: none;
}
.cards h2.header {
  font-size: 40px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services {
  display: flex;
  align-items: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 15px;
}
.content img {
  max-width: 100%;
  height: auto;
}
.content > * {
  flex: 1 1 100%;
}

.content h2 {
  text-align: center;
  font-size: 20px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content p {
  font-size: 15px;
  text-transform: lowercase;
}

@media (max-width: 900px) {
  .services {
    display: flex;
    flex-direction: column;
  }
}
