

.qr-img{
  width:20%;
}
.column {
  float: left;
  width: 33%;
  padding: 0 0px;
  margin-bottom: 30px;
  padding-top: 50px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Style the counter cards */
.cardH {

  padding: 16px;
  text-align: center;
}
.shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} 
.cardsH {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  

  
}
.cardsH h2.header {
  font-size: 40px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  
}
.services {
  display: flex;
  align-items: center;
}
.contentH {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 15px;
 
}
.contentH img {
  max-width: 100%;
  height: auto;
 
}
.contentH > * {
  flex: 1 1 100%;
  background-color: #FAFAFA ;
}

.contentH h2 {
  text-align: center;
  font-size: 25px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #FAFAFA;
  
}
.contentH p {
  font-size: 20px;
  text-transform: lowercase;
  background-color: #FAFAFA;
}



/* Responsive columns */
@media screen and (max-width: 1000px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .services {
    display: flex;
    flex-direction: column;
  }
}