
h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
    background-color: white;
}
p {
    text-transform: lowercase;
    /* font-weight: ;  */
    margin-left: 10px;
    background-color: white;
}
/* For small devices (e.g. smartphones) */
img {
    width: 100vw;
}
.responsive h1 {
    margin: 10px;
}
.responsive p {
    margin: 10px;
}
.h1mb{
    margin-Bottom: '10px'
}





  .intro-card {
    padding: 2em;
    background-color: #fff;
    box-shadow: var(--shadow-card-hover);
    margin: 2em auto;
    border-radius: 16px;
    max-width: 600px;
    padding: 0px !important;
    }