
h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
}
p {
    text-transform: lowercase;
    /* font-weight: ;  */
    margin-left: 10px;
}
/* For small devices (e.g. smartphones) */
img {
    width: 100vw;
}
.responsive h1 {
    margin: 10px;
}
.responsive p {
    margin: 10px;
}


