.showtext{
  font-size: large;
  text-Align:left;
  margin-Left:30px;
  margin-Top:8px;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
}
p {
    text-transform: lowercase;
    /* font-weight: ;  */
    margin-left: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.menu ul {
  display: inline-block;
  top: 50%;
  width: 100%;
  text-align: center;
  list-style-type: none;
  align-items: center;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #0099cc;
}
/* For small devices (e.g. smartphones) */

.responsive h1 {
    margin: 10px;
}
.responsive p {
    margin: 10px;
}
.qr-img{
  display: block;
  margin: 0 auto;
  width: 100%;
}
.midp{
  margin-top: 70px;
}

/* For medium devices (e.g. tablets) */
@media (max-width: 420px) {
    img {
        width: 100vw;
    }
}

/* For large devices (e.g. desktops) */
@media (max-width: 760px) {
    img {
        width: 100vw;
    }
    .midp{
      margin-top: 0px;
    }
    
}

@media (min-width: 900px) {
  .midp{
    margin-top: 30px;
  }
}
@media (min-width: 1000px) {
  .midp{
    margin-top: 50px;
  }
}


img {
    margin: 10px auto 20px;
    display: block;
    top: 50%;
    width: 100vw;
    text-align: center;
  }
  p{
    display: inline;
  }

  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
  /* .col-s-1 {
      width: 8.33%;
    }
  
    .col-s-2 {
      width: 16.66%;
    }
  
    .col-s-3 {
      width: 25%;
    }
  
    .col-s-4 {
      width: 33.33%;
    }
  
    .col-s-5 {
      width: 41.66%;
    } */
  
    .col-s-6 {
      width: 50%;
    }
  
    .col-s-7 {
      width: 58.33%;
    } 
  
    .col-s-8 {
      width: 66.66%;
    }
  
    .col-s-9 {
      width: 75%;
    }
  
    .col-s-10 {
      width: 83.33%;
    }
  
    .col-s-11 {
      width: 91.66%;
    } */
  
    .col-s-12 {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
   /* .col-1 {
      width: 8.33%;
    }
  
    .col-2 {
      width: 16.66%;
    }
    .col-3 {
      width: 25%;
    }*/
  
  
    .col-4 {
      width: 33.33%;
    }
  
    .col-5 {
      width: 41.66%;
    }
  
    .col-6 {
      width: 50%;
    }
  
    .col-7 {
      width: 58.33%;
    }
  
    .col-8 {
      width: 66.66%;
    }
  
    .col-9 {
      width: 75%;
    }
  
    .col-10 {
      width: 83.33%;
    }
  
    .col-11 {
      width: 91.66%;
    } */
  
    .col-12 {
      width: 100%;
    }
  }
  
  .flex-parentbt {
    display: flex;
    min-height: 0px;
  }
  
  .jc-center {
    justify-content: center;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .button {
    display: inline-block;
    top: 50%;
    width: 100%;
    text-align: center;
    background-color: #4caf50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
  
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
  }
  
  .button1:hover {
    background-color: #4caf50;
    color: white;
  }
  
 /* .button2 {
    background-color: white;
    color: black;
    border: 2px solid #008cba;
  }
  
  .button2:hover {
    background-color: #008cba;
    color: white;
  }
  
  .button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
  }
  
  .button3:hover {
    background-color: #f44336;
    color: white;
  }
  
  .button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
  .button4:hover {
    background-color: #e7e7e7;
  }
  
  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .button5:hover {
    background-color: #555555;
    color: white;
  }*/
  

  
   /* .footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  } */

  
  
 
  
 
  
 
 
  .flex-parent {
    display: flex;
    min-height: 0px;
  }
 

  @media only screen and (max-width: 750px) {
    
    .flex-parentbt {
      display: block;
      min-height: 0px;
    }
    
  
  
  
  }  
 
  
  