.shadowv{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card {
  border: 1px solid #BFBFBF;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
 
}
.cards {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  
}
.cards h2.header {
  font-size: 40px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services {
  display: flex;
  align-items: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.content img {
  max-width: 100%;
  height: auto;
}
.content > * {
  flex: 1 1 100%;
  background-color: #ffffff;
}

.showtext{
  font-size: large;
  text-Align:left;
  margin-Left:30px;
  margin-Top:8px;
  background-color: #ffffff;
}
.content p {
  font-size: 30px;
  text-transform: lowercase;
  background-color: #FAFAFA;
}
h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
}
p {
    text-transform: lowercase;
    /* font-weight: ;  */
    margin-left: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.menu ul {
  display: inline-block;
  top: 50%;
  width: 100%;
  text-align: center;
  list-style-type: none;
  align-items: center;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #0099cc;
}
/* For small devices (e.g. smartphones) */

.responsive h1 {
    margin: 10px;
}
.responsive p {
    margin: 10px;
}
.qr-img{
  display: block;
  margin: 0 auto;
  width: 100%;
}
.midp{
  margin-top: 70px;
}

/* For medium devices (e.g. tablets) */
@media (max-width: 420px) {
    img {
        width: 100vw;
    }
}

/* For large devices (e.g. desktops) */
@media (max-width: 760px) {
    img {
        width: 100vw;
    }
    .midp{
      margin-top: 0px;
    }
    
}

@media (min-width: 900px) {
  .midp{
    margin-top: 30px;
  }
}
@media (min-width: 1000px) {
  .midp{
    margin-top: 50px;
  }
}


img {
    margin: 10px auto 20px;
    display: block;
    top: 50%;
    width: 100vw;
    text-align: center;
  }
  p{
    display: inline;
  }

  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  
  
  .flex-parentbt {
    display: flex;
    min-height: 0px;
  }
  
  .jc-center {
    justify-content: center;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  
  
  
 /* .button2 {
    background-color: white;
    color: black;
    border: 2px solid #008cba;
  }
  
  .button2:hover {
    background-color: #008cba;
    color: white;
  }
  
  .button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
  }
  
  .button3:hover {
    background-color: #f44336;
    color: white;
  }
  
  .button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
  .button4:hover {
    background-color: #e7e7e7;
  }
  
  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .button5:hover {
    background-color: #555555;
    color: white;
  }*/
  

  
   /* .footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  } */

  
  
 
  
 
  
 
 
  .flex-parent {
    display: flex;
    min-height: 0px;
  }
 

  @media only screen and (max-width: 750px) {
    
    .flex-parentbt {
      display: block;
      min-height: 0px;
    }
    
  
  
  
  }  
 
  
  